<html>
  <body>
    <div class="erros">
        <%if (errosValidacao) {%>
            <%for (var i=0; i < errosValidacao.length; i++) {%>
                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
            <%}%>
        <%}%>
    </div>
      <form action="/produtos" method="post">
          <div>
              <label for="titulo">Título</label>
              <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>"
                    placeholder="Títutlo do livro"/>
          </div>
          <div>
              <label for="preco">Preço</label>
              <input type="text" id="preco" name="preco" value="<%=produto.preco%>"
                placeholder="123.32"/>
          </div>
          <div>
              <label for="descricao">Descrição</label>
              <textarea cols="20" rows="20" type="text" id="descricao"  value="<%=produto.descricao%>"
                name="descricao" placeholder="Títutlo do livro"></textarea
          </div>

          <input type="submit" value="Salvar"/>
      </form>
  </body>
</html>
